In [2]:
import pandas as pd
import numpy as np

df_A = pd.DataFrame(data = np.random.rand(5, 4), columns = ["A", "B", "C", "D"], index = pd.date_range('20200101', periods = 5))
df_B = pd.DataFrame({"A" : ["A0", "A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11"],
"B" : ["B0", "B1", "B2", "B3", "B4", "B5", "B6", "B7", "B8", "B9", "B10", "B11"],
"C" : ["C0", "C1", "C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10", "C11"],
"D" : ["D0", "D1", "D2", "D3", "D4", "D5", "D6", "D7", "D8", "D9", "D10", "D11"]})

# 1. Pandas Series

In [ ]:
# Pandas Series
L = [1, 2, 3, 4, 5]

pd.Series(L)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# 2. Pandas DataFrame

In [ ]:
# DataFrame 만들기 (1)
pd.DataFrame(data = np.random.rand(5, 4), columns = ["A",  "B",  "C",  "D"])

          A         B         C         D
0  0.983963  0.698438  0.517621  0.442860
1  0.577570  0.942560  0.004370  0.652429
2  0.743374  0.352698  0.329106  0.470845
3  0.160512  0.936799  0.785752  0.342699
4  0.173308  0.996954  0.622415  0.749618

In [ ]:
# Index 이름 지정하기
df_A = pd.DataFrame(data = np.random.rand(5, 4), columns = ["A", "B", "C", "D"])

date = pd.date_range('20200101', periods = 5)
df_A = df_A.set_index(date)
df_A

                   A         B         C         D
2020-01-01  0.976957  0.946928  0.774526  0.036631
2020-01-02  0.969293  0.961718  0.174202  0.445726
2020-01-03  0.925843  0.909875  0.007391  0.600045
2020-01-04  0.034623  0.896524  0.644903  0.016740
2020-01-05  0.084941  0.747614  0.756232  0.092963

In [ ]:
# DataFrame 만들기 (2)
data = {"A" : ["A0", "A1", "A2", "A3", "A4", "A5", "A6", "A7", "A8", "A9", "A10", "A11"],
             "B" : ["B0", "B1", "B2", "B3", "B4", "B5", "B6", "B7", "B8", "B9", "B10", "B11"],
             "C" : ["C0", "C1", "C2", "C3", "C4", "C5", "C6", "C7", "C8", "C9", "C10", "C11"],
             "D" : ["D0", "D1", "D2", "D3", "D4", "D5", "D6", "D7", "D8", "D9", "D10", "D11"]}
             
df_B = pd.DataFrame(data)
df_B

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [2]:
# DataFrame의 일부 행만 출력
df_B.head()

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

In [7]:
# DataFrame의 index, columns, values 추출
print(df_B.index)
print(df_B.columns)
print(df_B.values)

RangeIndex(start=0, stop=12, step=1)
Index(['A', 'B', 'C', 'D'], dtype='object')
[['A0' 'B0' 'C0' 'D0']
 ['A1' 'B1' 'C1' 'D1']
 ['A2' 'B2' 'C2' 'D2']
 ['A3' 'B3' 'C3' 'D3']
 ['A4' 'B4' 'C4' 'D4']
 ['A5' 'B5' 'C5' 'D5']
 ['A6' 'B6' 'C6' 'D6']
 ['A7' 'B7' 'C7' 'D7']
 ['A8' 'B8' 'C8' 'D8']
 ['A9' 'B9' 'C9' 'D9']
 ['A10' 'B10' 'C10' 'D10']
 ['A11' 'B11' 'C11' 'D11']]

In [3]:
# DataFrame의 요약정보 출력
df_B.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 512.0+ bytes

In [6]:
# DataFrame의 통계량 출력
df_A.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean   0.564731  0.491786  0.511307  0.690015
std    0.350589  0.349282  0.193015  0.183558
min    0.047122  0.012205  0.269219  0.513000
25%    0.367915  0.332045  0.394618  0.582663
50%    0.706159  0.551521  0.519307  0.585089
75%    0.830847  0.607013  0.599490  0.833999
max    0.871610  0.956148  0.773902  0.935321

# 3. Sorting

In [15]:
# 특정 column을 기준으로 내림차순 sorting
df_A.sort_values("C", ascending = False)

                   A         B         C         D
2020-01-03  0.706159  0.332045  0.773902  0.585089
2020-01-05  0.830847  0.551521  0.599490  0.935321
2020-01-02  0.871610  0.607013  0.519307  0.513000
2020-01-04  0.047122  0.012205  0.394618  0.833999
2020-01-01  0.367915  0.956148  0.269219  0.582663

# 4. Indexing

In [18]:
# column(열)을 기준으로 한 indexing
df_A["A"]

2020-01-01    0.367915
2020-01-02    0.871610
2020-01-03    0.706159
2020-01-04    0.047122
2020-01-05    0.830847
Freq: D, Name: A, dtype: float64

In [33]:
# index(행)를 기준으로 한 indexing
print(df_A.iloc[2])             # index의 순서를 이용해 indexing
print(df_A.loc["2020-01-05"])   # index의 이름을 이용해 indexing

A    0.706159
B    0.332045
C    0.773902
D    0.585089
Name: 2020-01-03 00:00:00, dtype: float64
A    0.830847
B    0.551521
C    0.599490
D    0.935321
Name: 2020-01-05 00:00:00, dtype: float64

In [34]:
# 행과 열을 동시에 indexing
df_A[["A", "B"]].loc["2020-01-02":"2020-01-04"]

                   A         B
2020-01-02  0.871610  0.607013
2020-01-03  0.706159  0.332045
2020-01-04  0.047122  0.012205

In [66]:
# 조건을 이용한 indexing
df_A[df_A > 0]

                   A         B         C         D
2020-01-01  0.367915  0.956148  0.269219  0.582663
2020-01-02  0.871610  0.607013  0.519307  0.513000
2020-01-03  0.706159  0.332045  0.773902  0.585089
2020-01-04  0.047122  0.012205  0.394618  0.833999
2020-01-05  0.830847  0.551521  0.599490  0.935321

# 5. Concat

In [97]:
# 위아래로 concat
df_1 = np.array([[1, 3, 5], [2, 4, 6]])
df_1 = pd.DataFrame(df_1, columns = ["A", "B", "C"])
df_2 = -df_1

df_3 = pd.concat([df_1, df_2])
df_3

   A  B  C
0  1  3  5
1  2  4  6
0 -1 -3 -5
1 -2 -4 -6

In [92]:
# 양 옆으로 concat
df_3 = pd.concat([df_1, df_2], axis = 1)
df_3

   A  B  C  A  B  C
0  1  3  5 -1 -3 -5
1  2  4  6 -2 -4 -6

# 6. Data Read/Write

In [ ]:
# csv 파일 불러오기
pd.read_csv("train.csv")

In [ ]:
# excel 파일 불러오기
pd.read_excel("report.xlsx")

In [122]:
# 데이터 작성하고 저장하기
df_read = pd.read_csv("train.csv")
df_read.head()
# 행/열 삭제하기 : drop 함수이용 (axis : 0은 행, 1은 열)
df_write = df_read.drop(["PassengerId", "Name", "Ticket"], axis = 1)
pd.DataFrame.to_csv(df_write, "./result/train(edited).csv")

# 7. Missing Values

In [126]:
df_C = pd.read_excel("toy.xlsx")

In [131]:
# 결측치가 하나라도 있는 행 모두 제거하기
df_C.dropna()

     A    B    C
0  1.0 -1.0  2.0
2  3.0 -3.0  4.0
3  4.0 -4.0  7.0

In [133]:
# 결측치 채우기 - 같은 열 앞 행의 값
df_C.fillna(method = "ffill")

     A    B     C
0  1.0 -1.0   2.0
1  2.0 -1.0   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0 -4.0   7.0
5  5.0 -6.0  10.0

In [138]:
# 결측치 채우기 - 해당 열의 평균값
df_C.fillna(df_C.mean())

     A    B     C
0  1.0 -1.0   2.0
1  2.0 -3.5   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0 -3.5   5.2
5  3.0 -6.0  10.0

In [143]:
# 결측치 채우기 - 전체 평균값
df_C.fillna(df_C.mean().mean())

          A         B          C
0  1.000000 -1.000000   2.000000
1  2.000000  1.566667   3.000000
2  3.000000 -3.000000   4.000000
3  4.000000 -4.000000   7.000000
4  5.000000  1.566667   1.566667
5  1.566667 -6.000000  10.000000

# 8. Aggregating

In [158]:
# 새로운 열 추가하기
df = pd.DataFrame([[1, -1, 2], [2, -2, 3], [3, -3, 4], [4, -4, 7], [5, -5, 8]], columns = ["A", "B", "C"])
df["평균"] = df.mean(axis = 1)
df

   A  B  C        평균
0  1 -1  2  0.666667
1  2 -2  3  1.000000
2  3 -3  4  1.333333
3  4 -4  7  2.333333
4  5 -5  8  2.666667

In [159]:
# 새로운 행 추가하기
df.loc[5] = df.sum()
df

      A     B     C        평균
0   1.0  -1.0   2.0  0.666667
1   2.0  -2.0   3.0  1.000000
2   3.0  -3.0   4.0  1.333333
3   4.0  -4.0   7.0  2.333333
4   5.0  -5.0   8.0  2.666667
5  15.0 -15.0  24.0  8.000000

In [165]:
# 특정 column을 기준으로 묶어서 합계 구하기
df_2 = pd.DataFrame({"val1" : [1, 2, 3, 4, 5], "val2" : [-1, -2, -3, -4, -5],
                     "val3" : [2, 3, 4, 7, 8], "label" : ["A", "A", "B", "B", "B"]})
df_2.groupby("label").sum()

       val1  val2  val3
label
A         3    -3     5
B        12   -12    19

# 9. Pivot Table

In [174]:
# pivot table 만들기
df_2.pivot_table(index = "label", aggfunc = "mean")

       val1  val2      val3
label
A       1.5  -1.5  2.500000
B       4.0  -4.0  6.333333